
/* # is id */
#Title{
    color:rgb(213, 192, 158)
}
#pic{
    /*box-shadow: 10px 10px 5px 12px rgba(0, 0, 0, 0.5);*/
   content: 8cap; 
    padding: 8cap; 
     border: 8cap; 
     margin: auto; 
}
.container {
  text-align: center;
}
#Mike{
    color:rgb(241, 33, 103)
}
.verse{
    color:rgb(127, 71, 249)
}
.Chorus{
    color:rgb(213, 192, 158)
}

.idk{
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  color:rgb(241, 33, 103)
}



p{
    color:rgb(178, 11, 233)
    
}

.Song-info{
    /* wierd invisble cube */
    /* content: 4cap; */
    /* padding: 4cap; */
    /* border: 0cap; */
    /* margin: auto; */
    color:#0817e7
}

body {
  background: url("https://media.mutualart.com/Images//2023_10/06/04/045351417/ba8d0803-bd19-4943-b5aa-390f9dbad9a6.Jpeg") center center no-repeat fixed;
  background-size: cover;
}

/*.lyrics-background{
    background-image: url('data:imae/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEXDseEeQFjUAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=');
    height: 300px; /* Set a specific height */
    width: 100%;  /* Set a specific width */
}