
/* # is id */
#Title{
    color:rgb(213, 192, 158)
}
#Mike{
    color:rgb(241, 33, 103)
}
.verse{
    color:rgb(127, 71, 249)
}
.Chorus{
    color:rgb(213, 192, 158)
}
.idk{
    color:rgb(241, 33, 103)

}
p{
    color:rgb(178, 11, 233)
    
}

.Song-info{

    color:rgb(0, 0, 0)
}