
/* # is id */
#Title{
    color:rgb(213, 192, 158)
}
#pic{
    /*box-shadow: 10px 10px 5px 12px rgba(0, 0, 0, 0.5);*/
   content: 8cap; 
    padding: 8cap; 
     border: 8cap; 
     margin: auto; 
}
.container {
  text-align: center;
}
#Mike{
    color:rgb(241, 33, 103)
}
.verse{
  color:rgb(127, 71, 249)
}
.Chorus{
    color:rgb(213, 192, 158)
}

.idk{
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  color:rgb(241, 33, 103)
}
.background-15{
    background-color: transparent;
    background-image: url('https://st.hzcdn.com/fimgs/9d9110a709bb2e03_9241-w240-h240-b0-p0--.jpg');
    height: 70px;  
    width:  104%;   
}

.background-1{
    background-color: transparent;
    background-image: url('https://st.hzcdn.com/fimgs/9d9110a709bb2e03_9241-w240-h240-b0-p0--.jpg');
    height: 224px;  
    width:  104%;    

    }
h4{
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    color:rgb(211, 135, 255)
    
}

.Song-info{
    /* wierd invisble cube */
    /* content: 4cap; */
    /* padding: 4cap; */
    /* border: 0cap; */
    /* margin: auto; */
    color:#070813
}

body {
  background: url("https://media.mutualart.com/Images//2023_10/06/04/045351417/ba8d0803-bd19-4943-b5aa-390f9dbad9a6.Jpeg") center center no-repeat fixed;
  background-size: cover;
}



