
/* # is id */
#Title{
    color:rgb(213, 192, 158)
}
#pic{
  box-shadow: 10px 10px 5px 12px rgba(0, 0, 0, 0.5);
}

#Mike{
    color:rgb(241, 33, 103)
}
.verse{
    color:rgb(127, 71, 249)
}
.Chorus{
    color:rgb(213, 192, 158)
}

.idk{
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  color:rgb(241, 33, 103)
}



p{
    color:rgb(178, 11, 233)
    
}

.Song-info{
    /* wierd invisble cube */
    /* content: 4cap; */
    /* padding: 4cap; */
    /* border: 0cap; */
    /* margin: auto; */
    color:#0817e7
}

.lyrics-background{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEXDseEeQFjUAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=');
    height: 300px; /* Set a specific height */
    width: 100%;  /* Set a specific width */
}